/* Hero Section */
.hero-section {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background: url('../../assets/image 7.png') no-repeat center center;
    background-size: cover;
    overflow: hidden;
    padding: 20px;
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    z-index: 1;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 2;
    text-align: left;
    padding: 20px;
    margin-left: 80px;
}

.logo {
    max-width: 220px;
    margin-bottom: 45px;
}

/* Hero Text */
h1 {
    color: #0b3360;
    font-size: 5.5rem;
    margin: 0;
    font-weight: bold;
    line-height: 1.2;
    margin-top: 55px;
}

.first-line {
    display: block;
}

/* Media Query for Tablets */
@media (max-width: 768px) {
    h1 {
        font-size: 3rem;
    }
    .logo {
        max-width: 150px;
    }
}

/* Media Query for Mobile */
@media (max-width: 480px) {
    h1 {
        font-size: 2.5rem;
    }
    .logo {
        max-width: 150px;
    }
}

/* Reservation Section */
.reservation-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 100vh;
}

.reservation-form {
    flex: 1;
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
}

.reservation-form h2 {
    font-size: 2.9rem;
    margin-bottom: 10px;
}

.reservation-form p {
    font-size: 1.5rem;
}

.reservation-form .offer {
    color: #003366;
    font-weight: bold;
}

.reservation-form form {
    display: flex;
    flex-direction: column;
}

.reservation-form label {
    margin-top: 20px;
    font-size: 1.5rem;
    margin-bottom: 3px;
    color: #121212;
}

.para {
    margin-top: 20px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 15px;
}

.reservation-form input {
    padding: 10px;
    margin-top: 10px;
    border: 2px solid #dad8d8;
    border-radius: 7px;
    padding-left: 40px;
    color: #ccc;
    font-size: 1.2rem;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    height: 50px;
}

/* Date Fields */
.date-fields {
    display: flex;
    justify-content: space-between;
    gap: 35px;
    margin-top: 15px;
}

.date-field {
    flex: 1;
}

.date-picker-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.date-picker-input {
    padding-right: 30px;
}

.date-picker-icon {
    position: absolute;
    left: 10px;
    font-size: 1.2rem;
    color: #888;
    margin-bottom: 15px;
}

/* Reservation Image */
.reservation-image {
    flex: 1;
    max-width: 500px;
    margin: 0 auto;
}

.reservation-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

/* Media Query for Tablets */
@media (max-width: 768px) {
    .reservation-section {
        flex-direction: column;
        align-items: center;
    }
    .reservation-form, .reservation-image {
        max-width: 100%;
    }
    .reservation-image {
        margin-top: 20px;
    }
}

/* Widget Container */
.widget-container {
    display: flex;
    justify-content: space-between;
    gap: 35px;
    margin-top: 15px;
}

.counter {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
}

.counter-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 7px;
    padding: 5px;
    box-sizing: border-box;
}

.counter-controls button {
    background-color: #f0f0f0;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1.2rem;
    color: #333;
}

.counter-controls span {
    font-size: 1.2rem;
    font-weight: bold;
}

/* Reserve Button */
.reserve-button {
    background-color: #003366;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 35px;
    font-size: 1.2rem;
    width: 100%;
    box-sizing: border-box;
}

/* Input Icon Wrapper */
.input-icon-wrapper {
    position: relative;
    width: 100%;
}

.input-icon {
    position: absolute;
    left: 10px;
    color: #ccc;
    margin-top: 24px;
}


.title {
    text-align: left;
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #141414;
  
}
.home-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}


.image-grid-wrapper {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.large-image-container {
    flex: 2;
    margin: 0;
}

.large-image {
    width: 85%;
    height: 95%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.small-images-container {
    flex: 1.8;
    display: flex;
    flex-direction: column;

}

.small-image-row {
    display: flex;
    gap: 28px;
}

.small-image {
    width: 98%;
    height: 88%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Responsive Design */
@media (max-width: 768px) {
    .image-grid-wrapper {
        flex-direction: column;
    }

    .large-image-container, .small-images-container {
        width: 100%;
    }

    .small-image-row {
        flex-direction: column;
    }

    .small-image {
        margin-bottom: 20px;
    }
}



.comparison-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #e0ebf5;
    border-radius: 8px;
  }
  
  .comparison-text {
    width: 35%;
    font-family: 'Arial', sans-serif;
    margin-top: 134px;
  }
  
  .comparison-text h1 {
    font-size: 68px;
    color: #003366;
    margin-bottom: 10px;
  }
  
  .comparison-text p {
    font-size: 26px;
    color: #666;
  }
  
  .comparison-list {
    width: 53%;
    border: 1px solid #bcbaba; /* Adds a square border */
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: #ffffff; 
  }
  
  .partner-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .partner-info {
    display: flex;
    align-items: center;
    gap: 11px;
  }
  
  .partner-logo {
    width: 27px;
    height: 27px;
    margin-right: 10px;
  }
  
  .partner-details h2 {
    margin: 0;
    font-size: 1.1rem;
  }
  
  .partner-details p {
    margin: 5px 0 0 0;
    font-size: 0.9rem;
    color: #666;
  }
  
  .partner-price {
    text-align: right;
  }
  
  .partner-price p {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .partner-price button {
    margin-top: 5px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .partner-price button:hover {
    background-color: #0056b3;
  }









/* Mobile responsiveness */
@media (max-width: 768px) {
    .comparison-container {
      flex-direction: column;
      align-items: center;
      padding: 10px;
    }
    
    .comparison-text {
      width: 100%;
      margin-top: 20px;
      text-align: center;
    }
    
    .comparison-text h1 {
      font-size: 36px;
    }
    
    .comparison-text p {
      font-size: 18px;
    }
    
    .comparison-list {
      width: 100%;
      border-radius: 10px;
      margin-top: 23px;
    }
    
    .partner-item {
      flex-direction: column;
      align-items: flex-start;
      padding: 15px;
      width: 100%;
      margin-bottom: 10px;
    }
    
    .partner-info {
      margin-bottom: 10px;
    }
    
    .partner-logo {
      width: 20px;
      height: 20px;
    }
    
    .partner-details h2 {
      font-size: 1rem;
    }
    
    .partner-details p {
      font-size: 0.8rem;
    }
    
    .partner-price p {
      font-size: 1rem;
    }
    
    .partner-price button {
      padding: 8px 15px;
      font-size: 0.9rem;
    }
  }
  

  